/* index */
.block-wrapper{
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1920px){
	.cloudSix-div{
		padding: 0;
	}
}
@media screen and (max-width:1500px){
    /*.section-two .secTwo-div h1{
        line-height: 2;
    }*/	
}
@media screen and (max-width:1440px){
	.section-two .secTwo-div{
		right: 20%;
	}
	.section-five .mosaic .mosaic-a a img{
		/*width: auto;*/
	}
    .section-two .secTwo-div h1{
        font-size: 60px;
    }
    .section-two .secTwo-div h1 .secH2{
    	font-size: 22px;
    }

}
@media screen and (max-width:1300px){
	.section-eight>ul{
		padding: 45px 75px;
	}
	.section-eight li>a h1{
		font-size: 30px;
	}
	.section-eight li>a h2{
		font-size: 25px;
	}
	.section-two .secTwo-div{
		right: 18%;
	}
	.finLeft-div .owl3.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: -20px;
	}
	.finLeft-div .owl3.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: -20px;
	}
    /*.footer .footer-left ul{
        margin-right: 70px;
    }
    .footer .footer-right .footerUl{
        margin-left: 140px;
    }*/
    .block-wrapper .sectwoFour2 .secFour{
    	padding-top: 20%;
    }
    .block-wrapper .sectwoFour2 .secFour .block-hones{
    	margin-top: 100px;
    }
}
@media screen and (max-width:1230px){
	.section-three .slider1 .item .pic{
		width: 18%;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: -10px;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: -10px;
	}
}
@media screen and (max-width:1199px){
	.footer-bottom ul{
        display:block;
        width: 266px;
        margin: 0 auto;
    }
    .footer .footer-bottom .fr{
        width: 100%;
        text-align: center;
    }
    .footer .footer-bottom{
        line-height: 35px;
    }
	.section-eight li>a h1 span{
		display: block;
	}
	.section-eight li>a h1 b{
		display: none;
	}
	.section-three .slider1 .item .pic{
		width: 22%;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: -20px;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: -20px;
	}
	.block-wrapper .sectwoFour2 .secFour{
		padding: 10% 10% 0 0;
	}
	.sections .sec-smalldiv img{
		/*height: 550px;*/
	}
	.section-two .secTwo-div{
		right: 15%;
		top: 27%;
	}
	.sections .owl .item img{
		min-height: inherit;
   	 	max-height: inherit;
   	 	height: 500px;
	}
	.finance{
		height: 450px;
	}
	.finance .finTwo-left .finLeft-div{
		height: 370px;
	}
	.finance-five.finance .finTwo-left .finLeft-div{
		height: 325px;
	}
	.finance .financeDiv h3{
		font-size: 20px;
	}
	.cloud-three .secRight h1{
		font-size: 35px;
	}
    .sections .secLeft h1 span{
        font-size: 60px;
    }
    .sections .secRight h1 span{
        font-size: 45px;
    }
    .finance .finTwo-right h1 span{
    	font-size: 45px;
    }

	.sections .owl .item a{
		height: 100%;
	}
	.cloud-three.sections .owl .item a img{
		display: block;
		min-height: 300px;
    	max-height: 400px;
    	_height: expression(this.scrollHeight > 400 ? "400px" : (this.scrollHeight < 300? "300px" : "auto"));

	}
	.sections .secLeft h1, .sections .secRight h1{
		height: 150px;
	}
	.four-div{
		margin-top: 50px;
		padding: 25px;
	}
	.secBigList .secList .item .item-title{
		font-size: 36px;
	}
	.secBigList .cloudFive-mask .mask-content h4, 
	.secBigList .cloudFive-mask .mask-content p,
	.secBigList .cloudFive-mask .mask-content .item-link{
		font-size: 16px;
		line-height: 1.5;
	}
	.cloud-five.sections .secBigList .secListImg .secListImg-p,.section-five .secImg .container p{
		font-size: 24px;
	}
	.section-five .secImg .container h1{
		font-size: 50px;
	}
	.block-wrapper .secFour p,.block-wrapper .secFour .block-lasta{
		font-size: 16px;
	}
	.menulist .list .main li h3{
		font-size: 20px;
	}
	.menulist .list .main li b{
		font-size: 13px;
	}
	.menulist .list .main li a{
		font-size: 13px;
	}
}
@media screen and (max-width:995px){
	.section-five .mosaic .row-a.mosaics-two{
		height: 170px;
	}
	.section-five .mosaic .row-a{
		height: 175px;
	}
	.section-five .mosaic .mosaic-a a img{
		width: auto;
	}
	.footer .footer-right .footerUl{
		float: left;
		margin-top: 20px;
	}
	.section-three .slider1 li .title>a{
		font-size: 24px;
	}
	.videoBtn .videoWrapper .gb{
		left: 0;
	}
	.videoBtn .videoWrapper .gb b{
		display: none;
	}
	.section-three ul>li>.pic img{
		width: 70px;
	}
	.block-wrapper .sectwoFour2 .secFour{
		padding-top: 12%;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hone{
		font-size: 40px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hones{
		font-size: 30px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hones span:last-of-type{
		font-size: 20px;
	}
	.menulist .list .main li h3{
		font-size: 18px;
	}
	.cloudFive-div .owl .item.active .cloudFive-mask .mask-content{
		top: 0;
	}
	.block-wrapper .secFour .block-lasta{
		margin-top: 40px;
	}
	.block-wrapper .secFour .block-hone{
		font-size: 45px;
	}
	.block-wrapper .sectwoFour .secFour .block-hones{
		font-size: 35px;
	}
	.section-seven .item .item-list{
		padding: 20px;
	}
	.sections .owl .item img{
   	 	height: 400px;
	}
	.owl3.owl-theme .owl-controls .owl-buttons div.owl-next{
		/*right: 0px;*/
	}
	.owl3.owl-theme .owl-controls .owl-buttons div.owl-prev{
		/*left: 0px;*/
	}
	.cloud-three .secRight h1{
		padding-left: 30px;
	}
    .menu li{
        padding: 0 15px;
    }
    .section-two .secTwo-div{
    	top: 30%;
		right: 18%;
	}
    .section-two .secTwo-div h1{
        font-size: 45px;
    }
    .section-two .secTwo-div h1 .secH2,.section-two .secTwo-a{
    	font-size: 16px;
    }
    .section-two .secTwo-a{
    	width: 150px;
    	bottom: 5%;
    }
    .section-two .secTwo-a img{
    	width: 30px;
    	height: 30px;
    }
    .sections .secLeft h1, .sections .secRight h1{
    	height: 130px;
    }
    .section-five .mosaic .mosaic-one{
    	height: 250px;
    }
    .section-five .mosaic .mosaic-ones{
    	height: 300px;
    }
    .section-five .mosaic .mosaic-a a span{
    	font-size: 16px;
    }
    .section-five .secImg .container p{
    	font-size: 20px;
    }
    .section-five .secImg .container p>button{
    	font-size: 16px;
    }
    .section-five .mosaic .mosaic-a .mosaic-wrapp{
    	padding: 2px;
    }
    .section-seven .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
    	right: -10px;
    }
    .section-seven .owl.owl-theme .owl-controls .owl-buttons div.owl-prev{
    	left: -10px;
    }
}
@media screen and (max-width:850px){
	.section-eight li>a h2 span{
		display: block;
	}
	.section-eight li>a h2 b{
		display: none;
	}
	.secBigList .secList .item .item-title{
		font-size: 30px;
	}
	.section-two .secTwo-div h1 .secH2{
		font-size: 16px;
	}
	.block-wrapper .secFour .block-lasta{
		padding: 10px;
	}
	.secBigList .cloudFive-mask .mask-content .item-link{
		padding: 5px;
	}
	.cloud .owl3 .item{
		padding: 0 40px;
	}
	.owl3.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: -10px;
	}
	.owl3.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: -10px;
	}
	.section-two .secTwo-div {
    	top: 26%;
    	right: 12%;
	}
}
@media screen and (max-width:768px){
	.add-title h1{
		font-size: 24px;
	}
	.section-five .mosaic .mosaic-three{
		height: 198px;
	}
	.section-five .mosaic .row-a.mosaics-two{
		height: 170px;
	}
	.headers .header-left a{
		margin-left: 55px;
	}
	.headers .header-left a:before{
	position: absolute;
    content: "";
    top: 15px;
    left: 45px;
    width: 0px;
    height: 50%;
    border-left: 1px solid #545454;
    border-right: 1px solid #6e6e6e;
}
	.section-seven{
		margin: 0;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div{
		top: 30%;
	}
	.section-three{
		margin: 40px 0;
	}
	.section-three .slider1 li .title>a{
		font-size: 18px;
	}
	.section-three .slider1 li .title>span{
		font-size: 12px;
		line-height:1.6
	}
	.headers .header-left a{
		padding-top: 2px;
		line-height: 50px;
	}
	.headers .header-left img{
		height: 80%;
	}
	.cloud-five.sections .secBigList .secListImg .secListImg-p{
		font-size: 18px;
	}
	.footer .footer-left ul li{
		font-size: 12px;
	}
	.footer .footer-left{
		padding-left: 60px;
	}
	.footer .footer-left ul, .footer .footer-right ul{
		font-size: 14px;
	}
	.footer .footer-left span{
		font-size: 16px;
	}
	.section-eight>ul{
		padding: 30px 60px;
	}
	.section-eight li>a h1{
		font-size: 25px;
	}
	.section-eight li>a h2{
		font-size: 20px;
	}
	.section-eight .owl-theme .owl-controls .owl-pagination{
		right: 10px;
	}
	.bg-div{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
	z-index: 9999;
}
	.section-three .slider1 .item .pic>a{
		text-align: right;
		padding-right: 20px;
	}
	.section-three .slider1 .item .pic>a>img{
		width: 70px;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: -10px;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: -10px;
	}
	.section-five .secImg{
		position: relative;
		top: 0;
		left: 0;
		opacity: 1;
		filter: alpha(opacity=100);
		background: 0;
	}
	.section-five .secImg .container p{
		color: #000;
	}
	.section-five .secImg .container,
	.section-five .secImg .container p,
	.section-five .secImg .container h1{
		position: relative;
		top: 0;
		left: 0;
	}
	.section-five .secImg .container{
		height: auto;
	}
	.section-five .secImg .container p>button{
		display: none;
	}
	.section-five .secImg .container h1{
		margin: 0;
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.section-five .secImg .container p{
		line-height: 2;
	}
	.block-wrapper .sectwoFour2 .secFour{
		width: auto;
		position: absolute;
		left: inherit;
		right: 7%;
		padding: 0;
		padding-top: 20%;
	}
	
	.block-wrapper .sectwoFour2 .secFour .block-hones{
		text-align: right;
		font-size: 25px;
		margin-top: 50px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hones span:last-of-type{
		font-size: 20px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hone{
		font-size: 40px;
		text-align: right;
	}
	#samallList.active{
		top: 50px;
		transition: .3s;
    	-webkit-transition: .3s;
    	-moz-transition: .3s;
    	-ms-transition: .3s;
    	-o-transition: .3s;
	}
	.section-three ul>li>.pic img{
		width: 75px;
	}
	.section-three ul>li .title{
		font-size: 14px;
	}
	.owl3.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: 0px;
	}
	.owl3.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: 0px;
	}
	.finance .finTwo-right h1 span{
		font-size: 30px;
	}
	.section-two .secTwo-div h1 p{
		padding: 5px 10px;
	}
	.section-two .secTwo-div{
		top: 25%;
		right: 20%;
	}
	.section-two .secTwo-div h1{
		font-size: 30px;
	}
	.section-two .secTwo-div h1 .secH2,.section-two .secTwo-a{
		font-size: 14px;
	}
	.section-two .secTwo-a{
		width: 110px;
		background: 0;
		text-align: center;
		padding: 5px 20px;
	}
	.section-two .secTwo-a:hover{
		background: 0;
	}
	.section-two .secTwo-a img{
		width: 20px;
		height: 20px;
		margin-left: 10px;
	}
	.headers>nav{
		position: absolute;
		top: 0;
		right: 0;
	}
	.menulist{
		display: none;
		opacity: 0;
		filter: Alpha(Opacity=0);
	}
	.menulist .list{
		display: none;
		opacity: 0;
		filter: Alpha(Opacity=0);
	}
	.samall-menulist,.small-menuDiv{
		display: block;
		transition:.35s;
	}
	.samall-menulist .list{
		display: block;
	}
	.samall-menulist .list li{
		padding: 0 15px;
	}
	.samall-menulist .list li a,.samall-menulist .list li b{
		display: block;
		line-height: 50px;
		/*border-bottom: 1px solid #ddd;*/
		cursor: pointer;
	}
	.samall-menulist .list li b i{
		float: left;
		line-height: 50px;
		margin-right: 10px;
	}
	.headers .menu{
		display: none;
	}
	/*.section-two img{
		height: 300px;
	}*/
	.sections .owl .item img{
   	 	height: 300px;
	}
	.sections .secLeft h1 span{
		font-size: 40px;
	}
	.sections .secRight h1 span{
		font-size: 30px;
	}
	.sections .secLeft h1, .sections .secRight h1{
		height: 75px;
	}
	.sections h1>span,.section-three h1{
		font-size: 30px;
	}
	.cloudFive-mask .mask-content{
		top: 100px;
	}
	.six-content .six-left,.six-content .six-right{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.six-content .six-right{
		height: 250px;
		margin-top: 30px;
	}
	.six-left .sixLeft-top img{
		display: block;
		margin: 0 auto;
		width: 50%!important;	
	}
	.cloud-two h2{
		margin: 30px 0;
		font-size: 20px;
	}
	.cloud-three .secRight h1{
		font-size: 30px;
	}
	.cloudSix-div{
		padding: 0 10px;
		font-size: 14px;
	}
	.cloudFour-div{
		margin-top: 40px;
	}
	.cloud{
		margin-bottom: 40px;
	}
	.cloud h1>span{
		font-size: 30px;
	}
	.leftmenu{
		width: 0;
		top: 80%;
		left: -50px;
	}
	.leftmenu .bar li.barLi-three{
		width: 50px;
		position: absolute;
		top: 0;
		left: 50px;
	}
	.opens{
		display: block;
	}
	.leftmenu .openDiv.form-div{
		display: block;
		position: fixed;
		top: 50px;
		left: inherit;
		right: -500px;
		z-index: 999;
	}
	.headers{
		height: 50px;
	}
	.section-two{
		margin-top: 50px;
	}
	.navbar-toggle,.opens{
		margin: 8px;
	}
	/*.section-five .secImg .container{
		width: 80%;
	}*/
	.sections .sec-smalldiv img{
		min-height: inherit;
		max-height: inherit;
		/*height: 440px;*/
	}
	.block-wrapper .secFour .block-lasta{
		margin-top: 40px;
	}
	.block-wrapper .secFour{
		top: 20%;
	}
	.block-wrapper .sectwoFour .secFour{
		bottom: 25%;
	}
	.block-wrapper .secFour .block-hone, .section-five .secImg .container h1{
		font-size: 38px;
	}
	.block-wrapper .sectwoFour .secFour .block-hones{
		font-size: 28px;
	}
	.block-wrapper .secFour p, 
	.block-wrapper .secFour .block-lasta,
	.secBigList .cloudFive-mask .mask-content h4{
		font-size: 14px;
	}
	.section-five .secImg .container p{
		font-size: 16px;
	}
	.section-five .secImg .container p>button{
		font-size: 14px;
	}
	.secBigList .cloudFive-mask .mask-content p{
		font-size: 14px;
		height: 60px;
	}
	.secBigList .cloudFive-mask .mask-content{
		top: 15%;
	}
	.secBigList .cloudFive-mask .mask-content .item-link{
		width: 100px;
		margin-top: 0px;
		font-size: 14px;
	}
	.secBigList .cloudFive-mask .mask-content{
		padding: 15% 60px;
	}
	.secBigList .secList .item .item-title{
		font-size: 24px;
		margin: 0;
		padding: 0;
	}
	.cloud-five .secList{
		bottom: 0;
	}
	.cloudFive-mask .mask-content .item-desc,
	.cloudFive-mask .mask-content .item-link{
		opacity: 1;
    	filter: alpha(opacity=100);
	}
	.section-five .secImg img{
		display: none;
	}
	.section-five .mosaic .mosaic-a a img{
		width: 100%;
	}
	
}
@media screen and (max-width:699px){
	/*.section-five .secImg .container h1{
		margin-top: 0;
	}*/
	/*.section-three{
		display: none;
	}
	.section-three.slider1s{
		display: block;
	}*/
	.section-three .slider1 li .title>a{
		font-size: 16px;
	}
	.section-three .slider1 .item .pic>a>img{
		width: 55px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hone{
		font-size: 30px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hones{
		font-size: 20px;
	}
	.block-wrapper .secFour .block-lasta{
		margin-top: 10px;
	}
	.section-eight li>a h1{
		font-size: 20px;
	}
	.section-eight li>a h2{
		font-size: 18px;
	}

	.block-wrapper .sectwoFour2 .secFour{
		padding-top: 13%;
	}
	.section-three ul>li>.pic img{
		width: 60px;
	}
	.cloud-five .owl.owl-theme .owl-controls .owl-buttons div{
		display: block;
	}
	.section-two .secTwo-div {
    	top: 25%;
    	right: 8%;
	}
	.cloudFive-mask .mask-content .item-desc{
		font-size: 12px;
	}
	.cloudFive-mask .mask-content .item-title{
		font-size: 18px;
	}
	.cloud-three .secRight h1{
		font-size: 25px;
	}
	.cloud .cloud-ul li span{
		font-size: 12px;
		line-height:24px;
	}
	.cloudSix-div{
		font-size: 12px;
	}
	.cloud .owl3 .item span{
		font-size: 12px;
	}
	.cloud-six .cloudSix-left, .cloud-six .cloudSix-right{
		line-height: 24px;
	}
	.cloud-three .secRight{
		right: 0;
		width: 40%;
	}
	.cloud .cloud-ul li a{
		width: 100px;
		font-size: 14px;
	}
	.six-content .six-right{
		height: 150px;
	}
	.six-content .six-right,.six-content .six-left .sixLeft-bottom li{
		font-size: 12px;
		margin-bottom: 25px;
	}
	.six-content .six-left .sixLeft-bottom li>a:before{
		width: 15px;
		height: 15px;
	}
	.cloud .cloud-ul li span{
		max-height: inherit;
		min-height: inherit;
		height: 140px;
	}
	.cloud-six .cloudSix-left .cloudSixleft-top,
	.cloud-six .cloudSix-left .cloudSixleft-bottom{
		height: 150px;
	}
	.cloud-six .cloudSix-left, .cloud-six .cloudSix-right{
		height: 300px;
	}
	.finance h1{
		left: 0;
		text-align: center;
	}
	.finance .finTwo-right{
		right: 0;
		width: 40%;
	}
	.four-div{
		padding: 10px;
		font-size: 16px;
	}
	.four-div{
		width: 100%;
		height: 35%;
		margin-top: 0;
	}
	.four-ul{
		width: 100%;
		height: 65%;
	}
	.cloudFive-mask .mask-content .item-link{
		margin-top: 30px;
		width: 75px;
	    height: 30px;
	    line-height: 26px;
	    font-size: 12px;
	}
	.market-two .mkTwo-top ul li h1{
		font-size: 20px;
	}
	.market .market2 a{
		width: 75px;
		padding: 6px 0;
		font-size: 14px;
	}
	.mkTwo-bottom{
		margin-top: 20px;
	}
	.market .container{
		padding: 30px 0;
	}
	.block-wrapper .secFour .block-hone, 
	.section-five .secImg .container h1{
		font-size: 30px;
	}
	.sections .sec-smalldiv img{
		/*height: 300px;*/
	}
	.secBigList .cloudFive-mask .mask-content{
		padding:60px;
	}
}
@media screen and (max-width:599px){
	.add-title h1{
		font-size: 20px;
		margin-bottom: 0;
	}
	.add-title b{
		padding-top: 5px;
	}
	.section-three .slider1 .item .pic>a{
		height: 80px;
		line-height: 80px;
	}
	.section-seven .owl.owl-theme .owl-controls .owl-buttons div{
		top: 30%;
	}
	.section-seven .item .pic img{
		width: 60px;
	}
	.section-seven .item .pic{
		height: 80px;
	}
	.section-seven .item .pic a{
		line-height: 80px;
	}
	.section-seven .item .item-div{
		padding: 20px;
	}
	.section-seven .item .title{
		font-size: 12px;
	}
	.section-seven .item .item-list{
		padding: 0;
	}
	.section-seven .item{
		height: 150px;
	}
	.section-three .slider1 .item .pic,
	.section-three .slider1 li .title{
		width: 100%;
		
	}
	.section-three .slider1 li .title,
	.section-three .slider1 .item .pic>a{
		padding: 0;
		text-align: center;
	}
	.section-three .slider1 li .title>a{
		font-size: 10px;
		text-align: center;
	}
	.section-three .slider1 li .title>span{
		display: none;
	}
	.footer .container{
		padding: 15px 0 10px;
	}
	.footer .footer-left,.footer .footer-right{
		margin-bottom: 15px;
		padding: 0;
		padding: 0 60px;
		width: 100%;
	}
	.footer .footer-right .footerUl{
		margin-left: 20px;
		margin-top: 30px;
		float: right;
	}
	.leftmenu .bar li.barLi-three{
		border-radius: 50%;
		height: 35px;
		width: 35px;
		background: rgba(255,255,255,0.5);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	}
	.leftmenu .bar li.barLi-three a{
		display: block;
		width: 100%;
		height: 100%;
		background: url(../img/leftMenu/top.png) center no-repeat;
	}
	.section-five .mosaic .mosaic-two{
		height: 150px;
	}
	.section-five .mosaic .mosaic-one{
		height: 200px;
	}
	.section-five .mosaic .mosaic-three{
		height: 200px;
	}
	.section-five .mosaic .mosaic-four{
		height: 210px;
	}
	.section-five .mosaic .mosaic-ones{
		height: 250px;
	}
	.section-five:hover .secImg{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.section-five .mosaic .mosaic-a .mosaic-wrapp,.section-five .mosaic{
		padding: 0;
		margin: 0;
	}
	.section-five .secImg .container{
		width: 100%;
	}
	.section-five .secImg .container p{
		color: #000;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 2;
	}
	.section-seven .item .item-list p a{
		font-size: 14px;
	}	
	.block-wrapper .sectwoFour .secFour .block-hones{
		padding-left: 20%;
		font-size: 25px;
	}
	.footer{
		font-size: 12px;
	}
	.footer .footer-bottom{
		line-height: 20px;
	}
}
@media screen and (max-width:496px){
	.block-wrapper .secFour p, 
	.block-wrapper .secFour .block-lasta,
	.secBigList .cloudFive-mask .mask-content h4{
		font-size: 12px;
	}
	.block-wrapper .secFour .block-lasta{
		padding: 5px;
	}
	.section-eight>ul{
		padding: 20px 40px;
	}
	.footer .footer-right .tel{
		font-size: 16px;
	}
	.footer .footer-left span{
		font-size: 12px;
	}
	.footer .footer-left ul, .footer .footer-right ul{
		font-size: 12px;
	}
	.section-seven .owl.owl-theme .owl-controls .owl-buttons div{
		top: 43%;
	}
	.section-five .mosaic .mosaic-one,
	.section-five .mosaic .mosaic-two,
	.section-five .mosaic .mosaic-ones{
		height: 100px;
	}
	.section-five .mosaic .mosaic-three{
		height: 130px;
	}
	.section-five .mosaic .row-a.mosaics-two{
		height: 131px;
	}
	.section-five .mosaic .mosaic-four{
		height: 150px;
	}
	.section-five .mosaic .mosaic-a .mosaic-ones img{
		width: 100%;
	}
	.block-wrapper .secFour .block-hone, .section-five .secImg .container h1{
		font-size: 24px;
	}
	.section-five .secImg .container p{
		font-size: 12px;
		line-height: 1.6;
	}
	.section-two .secTwo-a{
		width: 80px;
    	padding: 5px 0px;
    	font-size: 12px;
    	bottom: 2%;
	}
	
	/*.section-two img{
		height: 250px;
	}*/
	.cloud-five.sections .secBigList .secListImg img{
		width: 70%;
		top: 15%;
	}
	.section-two .secTwo-div h1 .secH2{
		display: none;
	}
	.section-two .secTwo-div h1 .secH2, 
	.cloud-five.sections .secBigList .secListImg .secListImg-p{
		font-size: 14px;
	}
	.section-two .secTwo-div h1 .secH2{
		text-align: center;
	}
	.footer .footer-left, .footer .footer-right{
		padding: 0 30px;
	}
	.footer .footer-right .footerUl li{
		width: 90px;
		height: 90px;
	}
	.section-eight li>a h1{
		font-size: 14px;
	}
	.section-eight li>a h2{
		font-size: 12px;
	}
	.section-three .slider1 .item .pic>a{
		padding: 0;
	}
	.section-three .slider1 .item .pic>a>img{
		width: 50px;
	}
	.section-three ul li{
		padding: 0 5px;
		float: left;
		width: 100%;
		height: 100%;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
		background: url(../img/next1.png) no-repeat;
		background-position: center;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-prev{
		background: url(../img/prev1.png) no-repeat;
		background-position: center;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-next:hover{
		background: url(../img/next2.png) no-repeat;
		background-position: center;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div.owl-prev:hover{
		background: url(../img/prev2.png) no-repeat;
		background-position: center;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hone{
		font-size: 20px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hones,
	.block-wrapper .sectwoFour2 .secFour .block-hones span:last-of-type{
		font-size: 16px;
	}
	.section-three ul>li>.pic a{
		height: 75px;
		line-height: 115px;
	}
	.section-three{
		margin: 15px 0;
	}
	.cloud-five .owl.owl-theme .owl-controls .owl-buttons div.owl-prev,
	.cloud-five .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
		background-color: rgba(0,0,0,0.1);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000)
	}
	.secBigList .cloudFive-mask .mask-content{
		top: 5%;
		padding: 20px 60px;
	}
	.secBigList .cloudFive-mask .mask-content .item-link{
		margin-top: 20px;
	}
	.section-two .secTwo-div h1{
		font-size: 28px;
	}
	.sections .secLeft h1 span{
		font-size: 30px;
	}
	.sections .secRight h1 span{
		font-size: 20px;
	}
	.six-content .six-left .sixLeft-bottom li{
		font-size: 14px;
	}
	.six-content .six-right span{
		font-size: 14px;
	}
	.six-left .sixLeft-top img{
		width: 100%!important;	
	}
	/*.sections{
		margin-top: 35px;
	}*/
	.section-three ul>li>.pic img{
		width: 35px;
		/*height: 35px;*/
	}
	.section-three ul>li .title{
		font-size: 12px;
		margin-top: 10px;
	}
	.owl.owl-theme .owl-controls .owl-buttons div{
		width: 35px;
		height:40px;
	}
	.cloud-two h1 span:first-child{
		font-size: 30px;
	}
	.cloud-two h1 span{
		font-size: 20px;
	}
	.finance .finTwo-right h1 span{
		font-size: 20px;
	}
	.finance .financeDiv p{
		font-size: 12px;
		padding: 0 5px;
	}
	.cloudFive-mask .mask-content .item-desc{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.cloudFive-mask .mask-content{
		top: 20px;
	}
	.cloudFive-mask .mask-content .item-link{
		opacity: 1;
		filter: alpha(opacity=100);	
	}
	.section-six{
		padding-bottom: 0;
	}
	.six-content .six-right{
		height: 100px;
	}
	.sections,.section-two{
		position: relative;
	}
	.cloud-three{
		margin-bottom: 30px;
	}
	.cloud-one{
		margin: 70px 0 30px;
	}
	.cloud .container{
		padding: 0;
		padding-bottom: 20px;
	}
	.cloud{
		margin-bottom: 0;
	}
	.cloud-six{
		margin-top: 30px;
	}
	.cloud-six.cloud h1{
		padding: 0;
		padding: 20px 0;
	}
	.cloud .container{
		border: 0;
	}
	.cloud-six .cloudSix-left, .cloud-six .cloudSix-right{
		width: 100%;
	}
	.cloud-six .cloudSix-left{
		height: auto;
	}
	.cloud-six .cloudSix-left .cloudSixleft-bottom{
		margin: 15px 0;
	}
	.cloudSix-div{
		margin-bottom: 20px;
	}
	.finance .financeDiv p{
		opacity: 1;
		filter: alpha(opacity=100);	
	}
	.finance .financeDiv{
		top: 0;
	}
	.finance .financeDiv h3{
		margin-top: 40px;
	}
	.finance-five .owl.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: -20px;
	}
	.finance-five .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: -20px;
	}
	.market .market2 .marketSpna{
		font-size: 12px;
		line-height: 22px;
	}
	.market .market2 img{
		width: 60px;
		height: 40px;
	}
	.market .market2 .marketSpna{
		margin: 0;
		margin: 25px;
	}
	.mkTwo-bottom .mkTwo-list .owl .item{
		padding: 0 25px;
	}
	.market .container{
		padding: 0;
	}
	.mkTwo-bottom{
		height: 360px;
	}
	.opens{
		right: 70px;
	}
	.section-two .secTwo-div{
		width: 100%;
		height: 120px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2D80A14,endColorstr=#b2D80A14);
	}
	.section-two .secTwo-div h1 .secH1{
		color: #fff;
		text-align: right;
		padding-right: 25px;
	}
	.section-two .secTwo-div h1 p{
		border: 0;
		margin: 0;
	}
	/*.section-two .secTwo-a{
		bottom: 25%;
		left: inherit;
		right: 20%;
		top: inherit;
	}*/
	.block-wrapper .secFour .block-lasta{
		margin-top: 0;
	}
	.block-wrapper .sectwoFour2 .secFour{
		width: auto;
		position: absolute;
		left: inherit;
		right: 15px;
		padding-top: 20px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hone,
	.block-wrapper .sectwoFour2 .secFour .block-hones{
		font-weight: 600;
		text-align: left;
	}
	.block-wrapper .secFour .block-hone{
		font-size: 24px;
	}
	.block-wrapper .sectwoFour2 .secFour .block-hones{
		margin-top: 25px;
	}
	.sections .sec-smalldiv img{
		/*height: 200px;*/
	}
	.block-wrapper .secFour{
		top: 0;
		margin-top: 20px;
	}
}
@media screen and (max-width:420px){
	.footer .footer-left, .footer .footer-right{
		padding: 0 10px;
	}
	.sections h1>span, .section-three h1,.cloud h1>span{
		font-size: 24px;
	}
	.sections .owl .item img{
		height: 220px;
	}
	.leftmenu .openDiv.form-div{
		width: 250px;
	}
	.leftmenu .openDiv .formBottom-div li{
		width: 125px;
		padding: 0 20px;
	}
	.leftmenu .openDiv .formBottom-div li b{
		font-size: 10px;
	}
	.leftmenu .openDiv.form-div .form-li{
		font-size: 18px;
	}
	.leftmenu .openDiv .formBottom-div{
		margin-top: 10px;
	}
	.form-sub{
		width: 320px;
	}
	.form-sub h4{
		font-size: 16px;
	}
	.form-sub ul li{
		font-size: 12px;
		padding: 10px 5px;
	}
	.form-sub ul li button{
		padding: 5px 0;
	}
	.form-sub .radio-inline{
		margin-right: 0;
	}
	.cloud-two h2{
		font-size: 14px;
	}
	.cloud-two .cloud-ul li img,.cloud .owl3 .item img{
		width: 50px;
		height: 40px;
	}
	.cloud-two .cloud-ul li{
		padding: 0 5px;
	}
	.cloud .cloud-ul li span{
		height: 90px;
	}
	.cloud .cloud-ul li a,.cloud .owl3 .item a{
		width: 75px;
		font-size: 12px;
		padding: 6px 0;
	}
	.cloud-three.sections .owl .item a img{
		max-height: inherit;
		min-height: inherit;
		height: 200px;
	}
	.cloud-three .owl.owl-theme .owl-controls .owl-buttons div.owl-next{
		right: 0px;
	}
	.cloud-three .owl.owl-theme .owl-controls .owl-buttons div.owl-prev{
		left: 0px;
	}
	.cloud .owl3 .item span{
		margin: 10px 0;
	}
	.cloud .owl3{
		margin-bottom: 15px;
	}
	.cloud-four .container{
		padding-bottom: 40px;
	}
	.owl3.owl-theme .owl-controls .owl-pagination{
		bottom: -40px;
	}
	.cloud-six .cloudSix-left .cloudSixleft-top span,
	.cloudSixleft-bottom .bottomLeft span, .cloudSixleft-bottom .bottomRight span{
		padding: 5px;
	}
	.cloud-six .cloudSix-right span{
		padding: 10px;
	}
	.cloud-three .secRight h1{
		padding-left: 15px;
	}
	.cloud-three .secRight h1{
		font-size: 14px;
	}
	.cloudSixleft-bottom .bottomLeft span, .cloudSixleft-bottom .bottomRight span,
	.cloud-six .cloudSix-left, .cloud-six .cloudSix-right{
		text-indent: 24px;
	}
	.cloud-six .cloudSix-left, .cloud-six .cloudSix-right{
		line-height: 20px;
	}
	.finance .financeDiv h3{
		font-size: 16px;
	}
}
@media screen and (max-width:361px){
	.footer .footer-right .footerUl{
		margin: 0px;
		margin-top: 10px;
	}
	.sections .secLeft h1 span{
		font-size: 24px;
	}
	.sections .secRight h1 span{
		font-size: 16px;
	}
	.sections .secRight h1 span{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.section-four .secRight h1 span,.cloud-one .secRight h1 span{
		padding-bottom: 0;
	}
	
}
@media screen and (max-width:321px){
	.section-three .slider1 li .title>a>b{
		display: block;
	}
	.section-three .slider1 li .title>a>em{
		display: none;
	}
	.footer .footer-bottom{
		font-size: 10px;
	}
	.section-eight>ul{
		padding: 10px 20px;
	}
	.section-eight li>a h1{
		font-size: 12px;
	}
	.section-eight li>a h2{
		font-size: 10px;
	}
	.section-seven .item{
		height: 120px;
	}
	.section-seven .item .item-div{
		padding: 5px;
	}
	.section-seven .item .pic img{
		width: 45px;
	}
	.section-five .mosaic .mosaic-one, 
	.section-five .mosaic .mosaic-two,
	 .section-five .mosaic .mosaic-ones{
	 	height: 80px;
	 }
	 .section-five .mosaic .row-a.mosaics-two{
	 	height: 80px;
	 }
	 .section-five .mosaic .mosaic-three{
	 	height: 120px;
	 }
	 .section-five .mosaic .mosaic-four{
	 	height: 100px;
	 }
	.secLeft{
		width: 43%;
	}
	.cloud-three .secRight{
		width: 37%;
	}
	.cloud h1 span:nth-child(2){
		padding: 0 10px;
	}
	.section-three .owl.owl-theme .owl-controls .owl-buttons div{
		top: 50%;
	}
}

@media (max-width: 735px) and (orientation: landscape){
	
}