#header{
    height:70px; 
    background: -webkit-linear-gradient(top,#ffffff,#ededed);
    background: -moz-linear-gradient(top,#ffffff,#ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    box-shadow:0px 1px 1px rgba(194,194,194,0.61);
    padding: 0;
}
#header .logo{
    margin-left:40px;
}
#header .liner{
    height:20px;
    width:1px;
    background:#ccc;
    margin-top:25px;
}
#header .user{
    font-size:18px;
    color:#5a5a5a;
    margin-left:21px;
    line-height:70px;
}
#container{
    width: 500px;
    margin: 0 auto;
    padding: 160px 0px;
}
#container .title{
    font-size: 36px;
    margin-bottom: 25px;
    margin-left: 35px;
}
#container .content{
    font-size: 18px;
    line-height: 25px;
    margin-left: 35px;
}
#container .returnHome{
    clear: both;
    display: block;
    padding-top: 60px;
    text-align: center;
    font-size: 14px;
    color: #357ebc;
}









