@media (max-width:992px) {
    body {
        /*min-width: 1250px !important;*/
    }
}

body {
	width: 100%;
	height: 100%;
    background: #FFFFFF;
}

body div {
    /*overflow: hidden;*/
}

.main {
    position: relative;
    width: 1170px;
    margin: 0px auto;
}

.main div {
    overflow: hidden;
}

.main div ul {
    overflow: hidden;
}



/*header*/
.slider1s{
	display: none;
}
.add-title{
	text-align: center;
}
.add-title h1{
	padding-top: 10px;
}
.add-title b{
	font-weight: 500;
	padding-top: 15px;
}
.add-title b:first-of-type{
	border-top: 2px solid #D80A14;
}
.add-title b:last-of-type{
	border-top: 2px solid #000;
	color: #D80A14;
}
.div-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.divWrap{
	transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
	-webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
}
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 9999;
	overflow: hidden;
}
.opens{
	display: none;
	height: 33px;
	margin: 15px 0;
	font-size: 36px;
	color: #D80A14;
	cursor: pointer;
}
.opens i{
	display: block;
}
.navbar-toggle{
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
    height: 40px;
	background: url(http://www.yonyou.com/sj/images/icon_fmenu.png) no-repeat center left;
	background-size: 90%;
}
.yongyou-header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    z-index: 9999;
    -moz-box-shadow:4px 2px 2px #333333; 
    -webkit-box-shadow:4px 2px 2px #333333; 
    box-shadow:4px 2px 2px #333333;
}
.yongyou-header.bg{
	background: #fff;
	border: 0;
}
.yongyou-header.active{
	top: -200px;
}
.mask{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.headers{
	position: relative;
	height: 70px;
	z-index: 999;
}
.headers .header-left,.headers .header-right{
	height: 100%;
}
.headers .header-left a{
	display: block;
	height: 100%;
}

.headers .header-left img{
	height: 100%;
}
.headers>nav{
	float: left;
	background: #fff;
}
.header-right{
	position: relative;
	height: 100%;
}
.small-menu{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    -moz-box-shadow:-2px 0px 5px #333; 
    -webkit-box-shadow:-2px 0px 5px #333; 
    box-shadow:-2px 0px 5px #333;
}
.small-menu li{
	width: 100%;
	cursor: pointer;
	padding: 0 15px;
	text-align: left;
	font-size: 16px;
}
.small-menu li a{
	display: block;
	line-height: 50px;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #ddd;
}
.small-menu li a i{
	float: right;
	line-height: 50px;
}
.header-right>.search-wrapper{
	display: none;
	float: left;
	padding-top: 25px;
}
.header-right>.search-wrapper>form{
	position: relative;
	border: 0;
}
.header-right>.search-wrapper>form>label{
	display: none;
	max-width: inherit;
	position: absolute;
	bottom: -90px;
	right: -25px;
	background: #fff;
	padding: 15px 25px;
	border: 1px solid rgba(102,102,102,0.6);
}
.header-right>.search-wrapper>form input{
	border: 1px solid rgba(102,102,102,0.6);
	padding-left: 10px;
	height: 35px;
	width: 200px;
}
.header-right>.search-wrapper>form>label:before,.header-right>.search-wrapper>form>label:after{
	border-width: 15px;
    position: absolute;
    right: 25px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}
.header-right>.search-wrapper>form>label:before{
    top: -30px;
    border-color: transparent transparent rgba(102,102,102,0.6);
}
.header-right>.search-wrapper>form>label:after{
    top: -29px;
    border-color: transparent transparent #fff;
}
.header-right>.search-wrapper>form>button{
	border: 0;
	background: #333;
	font-size: 25px;
	color: #333;
}
.header-right .log-wrapper{
	margin: 0 20px;
}
.header-right .log-wrapper{
	font-size: 20px;
}
.header-right .log-wrapper,.header-right .country-wrapper{
	float: left;
}
.header-right .log-wrapper a,.header-right .country-wrapper a{
	display: block;
	line-height: 90px;
	height: 100%;
	margin: 0 5px;
	font-size: 25px;
	color: #333;
}
.menu{
	font-size: 16px;
    height: 70px;
}
.menu li{
	position: relative;	
	padding: 0px 25px;
	height: 100%;
	line-height: 70px;
}
.small-menu li.nav-up-selected a,.menu li.nav-up-selected a{
	color: #fff;
	transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.small-menu li.nav-up-selected,.menu li.nav-up-selected{
	background: #D80A14;
	transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.menu li a{
	padding: 0;
	color: #292929;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.list ul:before{
	z-index: 999;
	border-color:transparent transparent #fff; 
}
.menulist::-webkit-scrollbar,#samallList::-webkit-scrollbar{  
    width: 6px;   
    background-color: #fff;  
}
.menulist::-webkit-scrollbar-thumb,#samallList::-webkit-scrollbar-thumb{
     background: #ddd;
     border-radius: 5px;
}
.menulist{
	z-index: 999;
    width: 100%;
    max-height: calc(100vh - 120px);
    max-height: -moz-calc(100vh - 120px);
    max-height: -moz-calc(100vh - 120px);
    max-height: 400px;
    overflow: auto;
}
.menulist .list{
	border-radius: 0 0 5px 5px;
	width: 100%;
	background: rgba(255,255,255,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ffffff,endColorstr=#E5ffffff);
	display: none;
	border-top: 1px solid #D80A14;
}

.menulist .list .main{
	position: relative;
    margin: 0px auto;
    padding: 15px 0;
}
.menulist .list .main .row{
	margin: 0!important;
}
.menulist .list .main li{
	text-align: left;
}
.menulist .list .main-five li,.menulist .list .main-three li{
	padding-left: 10px;
	padding-right: 10px;
}
.menulist .list .main li h3{
	margin-bottom: 15px;
	/*border-bottom: 2px solid #333;*/
}
.menulist .list .container{
	padding: 0;
}
.menulist .list .main li .maincol6,.menulist .list .main li .maincol4{
	padding: 0;
}
.menulist .list .main li a{
	line-height: 2;
	font-size: 14px;
	padding: 0;
}
.menulist .list .main li b{
	font-size: 14px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}
.menulist .list .main li a,.menulist .list .main li b{
	display: block;
	cursor: pointer;
}
.menulist .list .main li a:hover{
	color: #D80A14;
	text-decoration: underline!important;
	cursor: pointer;
}
.small-menuDiv,.samall-menulist{
	display: none;
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;	
}
.samall-menulists{
	width: 250px;
	height: 100%;
	position: fixed;
	left: -300px;
	top: 0;
	overflow-y: auto;
}
.samall-menulists .main{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}
.samall-menulists .list{
	position: inherit;
	
}
.samall-menulist .list {
	font-size: 16px;
    display: none;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    position: fixed;
    top: 0;
   	left: -300px;
    width: 250px;
    background: #fff;
    z-index: 9999;
}
.mainOneli,.mainOnelis{
	background: #D80A14;
	color: #fff;
}
.mainOneli>b,.mainOnelis>b{
	text-align: center;
}
.samall-menulist .list .main li{
	text-align: left;
	padding: 0 15px;
}
.samall-menulist .list .main li a{
	border-bottom: 1px solid #ddd;
}
.samall-menulist .list .main li a i{
	float: right;
	line-height: 50px;
}

/*下拉菜单 end*/


/*banner*/

#feature {
    margin-top: 106px;
}

.slideBox {
    width: 100%;
    height: 560px;
    overflow: hidden;
    position: relative;
}

.slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.slideBox .bd li.active {
    display: block;
}

.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
    position: relative;
}

.slideBox .bd li a {
    width: 100%;
    height: 560px;
    display: block;
}

.slideBox .bd img {
    width: 100%;
    height: 560px;
    display: block;
}

.slideBox .hd {
    width: auto;
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 999;
}

.slideBox .hd ul {
    cursor: pointer;
}

.slideBox .hd ul li {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    background: url(../images/icons_qiu1.png) 0px 0px no-repeat;
}

.slideBox .hd ul li.on {
    background: url(../images/icons_qiu2.png) 0px 0px no-repeat;
}





.picScroll-left {
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.picScroll-left .hd {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.picScroll-left .hd .prev,
.picScroll-left .hd .next {
    display: block;
    width: 30px;
    height: 70px;
    margin-top: 55px;
}

.picScroll-left .hd .prev {
    background: url(../images/prev2.png) 0px 0px no-repeat;
    float: left;
}

.picScroll-left .hd .prev:hover {
    background: url(../images/prev2.png) 0px -70px no-repeat;
}

.picScroll-left .hd .next {
    background: url(../images/next2.png) 0px 0px no-repeat;
    float: right;
}

.picScroll-left .hd .next:hover {
    background: url(../images/next2.png) 0px -70px no-repeat;
    float: right;
}

.picScroll-left .hd .pageState {
    display: none;
}

.picScroll-left .hd .prevStop {
    background-position: -60px 0;
}

.picScroll-left .hd .nextStop {
    background-position: -60px -50px;
}

.picScroll-left .hd ul {
    display: none;
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
    zoom: 1;
}

.picScroll-left .hd ul li {
    float: left;
    width: 9px;
    height: 9px;
    overflow: hidden;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
}

.picScroll-left .hd ul li.on {
    background-position: 0 0;
}

.picScroll-left .bd {
    width: 1000px;
    margin: 0px auto;
}

.picScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}

.picScroll-left .bd ul li {
    margin: 0 10px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}

.picScroll-left .bd ul li .pic {
    text-align: center;
    width: 182px;
    height: 182px;
    position: relative;
}

.picScroll-left .bd ul li .pic a:hover img {
    border-color: #999;
}

.picScroll-left .bd ul li .pic .links {
    padding-top: 80px;
    color: #FFFFFF;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../images/link_bg.png) repeat;
    text-align: center;
}

.picScroll-left .bd ul li .pic .links span {
    font-size: 14px;
}

.picScroll-left .bd ul li .title {
    line-height: 24px;
    font-size: 14px;
}

.titles {
    padding: 50px 0px;
    width: 100%;
    text-align: center;
}

.titles h1 {
    color: #444444;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

.titles span {
    background: #7c7c7c;
    width: 50px;
    height: 2px;
    display: block;
    margin: 10px auto;
}

.titles .sub {
    text-align: center;
    font-size: 14px;
    color: #cccccc;
}

.huibg {
    background: #f0f0f0;
    width: 100%;
}



/*企业应用软件*/

.yingyong {
    width: 100%;
    height: 370px;
}

.yingyong .one,
.yingyong .two,
.yingyong .three,
.yingyong .four,
.yingyong .five {
    float: left;
}

.yingyong .one {
    width: 200px;
    height: 340px;
    background: url(../images/banner/bGs2.jpg) bottom left no-repeat #ff3e24;
}

.yingyong .two,
.yingyong .three,
.yingyong .four {
    width: 180px;
    /*height: 235px;*/
    height: 320px;
    padding: 10px;
    margin-left: 8px;
    background: white;
}

.yingyong .three,
.yingyong .four {
    margin-left: 5px;
}

.yingyong .banner1 {
    height: 340px;
    position: relative;
}

.yingyong .banner1 .banner {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 610px;
}

.yingyong .banner1 .text h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    height: 34px;
    line-height: 34px;
    background: #b3b3b3;
    color: #fff;
}

.yingyong .five {
    width: 342px;
    height: 340px;
    margin-left: 10px;
    background: url(../images/icons_box1.png) center bottom no-repeat #FFFFFF;
}



/*第一个块的大标题*/

.yingyong .one h1 {
    font-size: 30px;
    line-height: 40px;
    color: white;
    padding: 35px 0 0 20px;
}

.yingyong .one h1 a {
    color: white;
}

.yingyong .one h1 a span {
    font-size: 24px;
}



/*第一个块中的链接列表*/

.yingyong .one ul {
    padding: 25px 0 0 20px;
}

.yingyong .one ul li {
    font-size: 16px;
    line-height: 29px;
}

.yingyong .one ul li a {
    color: white;
}



/*第二个、第三个块中的题图*/

.yingyong .img {
    width: 180px;
    /*height: 110px;*/
    height: 203px;
}



/*第二个、第三个块中的文字*/

.yingyong .two .text,
.yingyong .three .text,
.yingyong .four .text {
    width: 180px;
    margin-top: 20px;
}

.yingyong .text ul {
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
    background: url(../images/icons_tri4.png) no-repeat -2px 3px;
}

.yingyong .text ul li {
    float: left;
    width: 63px;
    height: 30px;
    padding: 0 0 0 10px;
}

.yingyong .text ul .lastli {
    width: 135px;
}

.yingyong .text ul li a {
    color: #999;
    font-size: 14px;
}

.yingyong .text ul li a:hover {
    color: #ee5c48;
}



/*第四个块的上半部分*/

.yingyong .five .text1 {
    height: 160px;
    background: white;
    padding: 28px 0 0 30px;
}



/*下半部分*/

.yingyong .five .text2 {
    /*margin-top: 10px;*/
    background: white;
}



/*下半部分两个切换按钮*/

.yingyong .five .ly {
    margin: 0;
    padding: 0;
    background: none;
}

.yingyong .five .ly li {
    width: 171px;
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 50px;
    background: #b3b3b3;
    cursor: pointer;
}

.yingyong .five .ly li.active {
    background: #ff543d;
}

.yingyong .text ul.lylist {
    margin: 20px 0 0 30px;
}



/*互联网服务*/

.hulian {
    width: 100%;
    height: 370px;
}

.hulian .one,
.hulian .two,
.hulian .three,
.hulian .four {
    float: left;
}

.hulian .one {
    width: 200px;
    height: 340px;
    background: url(../images/banner/bGs1.jpg) bottom left no-repeat #0dc7c8;
}

.hulian .two,
.hulian .three {
    width: 290px;
    height: 340px;
    margin-left: 8px;
}



/*修改部分 .hulian .two-.hulian .five部分布局删除*/

.hulian .cenTre {
    float: left;
    padding: 0 10px;
}

.hulian .cenTre .cenTre-top {
    margin-bottom: 10px;
}

.hulian .cenTre .cenTre-top .top-left {
    background: url(../images/banner/di2.jpg) no-repeat bottom #fff;
    width: 274px;
}

.hulian .cenTre .cenTre-top .top-centre {
    background: url(../images/banner/di3.jpg) no-repeat bottom #fff;
    width: 375px;
}

.hulian .cenTre .cenTre-top .top-right {
    width: 173px;
}

.hulian .cenTre .cenTre-div {
    background: #fff;
    float: left;
    margin-right: 10px;
}

.hulian .cenTre .cenTre-div p {
    background: #ff543d;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}

.hulian .cenTre .cenTre-div .cenDiv {
    height: 160px;
    padding: 20px 15px 20px;
    overflow: hidden;
}

.hulian .cenTre .cenTre-div ul {
    height: 100%;
}

.hulian .cenTre .cenTre-div ul li {
    float: left;
    margin: 0 9px 10px 0;
    width: 73px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    border: 1px dashed #ddd;
    border-radius: 3px;
}

.hulian .cenTre .top-centre ul li {
    margin-right: 11px;
}

.hulian .cenTre .top-centre ul li:last-of-type {
    width: 157px;
}

.hulian .cenTre .top-right {
    margin-right: 0;
    background: url(../images/banner/di1.png) no-repeat bottom #fff;
    background-size: 100%;
}

.hulian .cenTre .top-right ul li {
    margin-right: 0;
}

.hulian .cenTre .top-right ul li {
    width: 99%;
}

.hulian .cenTre .cenTre-div ul li:hover {
    transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    border: 1px solid #ff543d;
    background: #ff543d;
}

.hulian .cenTre .cenTre-div ul li:hover a {
    transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    background: #ff543d;
    color: #fff;
    border-radius: 3px;
}

.hulian .cenTre .cenTre-div ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.hulian .cenTre .top-left ul li:nth-of-type(3n) {
    margin-right: 0;
}

.hulian .cenTre-bottom .bottom-div {
    width: 416px;
}

.hulian .cenTre-bottom .bottom-left {
    float: left;
}

.hulian .cenTre-bottom .bottom-right {
    float: right;
}

.hulian .cenTre-bottom .bottom-div p {
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #b2b2b2;
}

.hulian .cenTre-bottom .bottom-div ul {
    padding: 0 5px;
    height: auto;
    overflow: hidden;
    /*display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-box-pack:justify;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
    justify-content: space-between;*/
}

.hulian .cenTre-bottom .bottom-div .bottom-divs {
    float: left;
    width: 100%;
    padding: 5px 0px;
    background: #fff;
}

.hulian .cenTre-bottom .bottom-div ul li {
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    margin-right: 4px;
}



/*.hulian .cenTre-bottom .bottom-div ul li:hover a{
	color: #ff543d;
}*/


/*.hulian .cenTre-bottom .bottom-div ul li:hover{
	color: #ff543d;
}*/

.hulian .riGht {
    background: #fff;
    /*background: url(../images/banner/right-shichang.jpg) no-repeat;*/
    width: 108px;
    height: 340px;
    float: left;
    text-align: center;
}

.hulian .riGht p {
    padding-top: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #ff543e;
}

.hulian .riGht ul {
    margin-top: 20px;
}

.hulian .riGht ul li {
    font-size: 14px;
    line-height: 32px;
}

.hulian .riGht ul li:hover a {
    color: #ee5c48;
}



/*以上为修改*/

.hulian .two {
    width: 200px;
}

.hulian .two .a {
    height: 168px
}

.hulian .two .b {
    height: 168px;
    margin-top: 4px;
}

.hulian .three {
    margin-left: 5px;
    width: 260px;
}

.hulian .four {
    width: 286px;
    height: 340px;
    margin-left: 5px;
}

.hulian .one h1 {
    font-size: 30px;
    line-height: 40px;
    color: white;
    padding: 35px 0 0 20px;
}

.hulian .one h1 a {
    color: white;
}

.hulian .one h1 a span {
    font-size: 24px;
}

.hulian .one ul {
    padding: 25px 0 0 20px;
}

.hulian .one ul li {
    font-size: 16px;
    line-height: 29px;
}

.hulian .one ul li a {
    color: white;
}

.hulian .five {
    width: 200px;
    float: right;
}

.hulian .five .a {
    height: 168px;
}

.hulian .five .b {
    margin-top: 4px;
    height: 168px;
}



/*金融服务*/

.jinrong {
    width: 100%;
    height: 370px;
}

.jinrong .one,
.jinrong .two,
.jinrong .three,
.jinrong .four {
    float: left;
}

.jinrong .one {
    width: 200px;
    height: 340px;
    background: url(../images/banner/bGs3.jpg) bottom left no-repeat #ffa517;
}

.jinrong .two {
    width: 287px;
    height: 340px;
    margin-left: 8px;
}

.jinrong .three {
    width: 220px;
    height: 340px;
    margin-left: 5px;
}

.jinrong .four {
    width: 220px;
    height: 340px;
    margin-left: 5px;
}

.jinrong .five {
    width: 220px;
    height: 340px;
    margin-left: 5px;
    float: right;
}

.jinrong .one h1 {
    font-size: 30px;
    line-height: 40px;
    color: white;
    padding: 35px 0 0 20px;
}

.jinrong .one h1 a {
    color: white;
}

.jinrong .one h1 a span {
    font-size: 24px;
}

.jinrong .one ul {
    padding: 25px 0 0 20px;
}

.jinrong .one ul li {
    font-size: 16px;
    line-height: 29px;
}

.jinrong .one ul li a {
    color: white;
}

.jinrong .twotop {
    width: 219px;
    height: 168px;
}

.jinrong .twobottom {
    width: 219px;
    height: 168px;
    margin-top: 4px;
}



/*修改*/

.linkDiv .link_box .link-img {
    line-height: 340px;
    background: #fff;
}

.linkDiv .link_box img {
    vertical-align: middle;
}



/*以上为修改*/


/*鼠标hover 菜单滑出*/

.link_box {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}



/*初始底部链接*/

.link {
    width: 100%;
    height: 34px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/link_bg.png) repeat;
    ;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    color: white;
}



/*大的滑出区块*/

.link2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: url(../images/link_bg.png) repeat;
    ;
    text-align: center;
}

.link2 h2 {
    width: 100%;
    height: 44px;
    padding: 60px 0 0 0;
    font-size: 24px;
    color: white;
    font-weight: 100;
}

.te h2 {
    padding: 80px 0 0 0;
}

.link2 p {
    width: 100%;
    height: 70px;
    font-size: 14px;
    color: white;
}

.link2 a {
    display: block;
    width: 160px;
    height: 30px;
    background: #ffa517;
    line-height: 30px;
    margin: 0 auto;
    color: white;
}



/*小的滑出区块*/

.link3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: url(../images/link_bg.png) repeat;
    ;
    text-align: center;
}

.link3 h2 {
    width: 100%;
    height: 44px;
    padding: 20px 0 0 0;
    font-size: 24px;
    color: white;
    font-weight: 100;
}

.link3 p {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: white;
}

.link3 a {
    display: block;
    width: 160px;
    height: 30px;
    background: #ffa517;
    line-height: 30px;
    margin: 0 auto;
    color: white;
}



/*企业新闻*/

.news {
    width: 100%;
    height: 550px;
}

.news_box {
    position: relative;
    height: 420px;
}



/*各个新闻内容的容器*/

.news_content {
    position: absolute;
    width: 1170px;
    height: 420px;
    top: 0;
    left: 0;
    overflow: hidden;
}



/*切换菜单*/

.news_menu {
    position: absolute;
    top: 18px;
    right: 0;
    width: 680px;
    height: 50px;
    z-index: 99;
}



/*一条新闻*/

.one_news {
    height: 420px;
    display: none;
}

.one_news .text {
    float: right;
    width: 660px;
    height: 320px;
    margin: 73px 0 0 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.one_news .text .more {
    position: absolute;
    right: 25px;
    bottom: 10px;
}

.one_news .title {
    font-size: 14px;
    margin: 10px 0px;
}

.one_news .title a {
    color: #ee5c48;
}

.news_menu ul li {
    float: left;
    padding: 0 30px;
    font-size: 18px;
    line-height: 50px;
    color: #666;
    cursor: pointer;
}

.news_menu ul li.active {
    color: #e60012;
    padding: 0 20px 0 30px;
    margin: 0 10px 0 0;
    color: #e60012;
    background: url(../images/icons_tri5.png) no-repeat right center;
}



/*头条新闻*/

.one_news .text .headline {
    padding: 30px 0 18px 0;
}

.one_news .text .headline p {
    line-height: 20px;
    color: #999;
}



/*头条新闻日期*/

.one_news .text .headline .date {
    float: left;
    width: 100px;
    height: 90px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.one_news .text .day {
    display: block;
    width: 100px;
    height: 50px;
    font-size: 35px;
    color: #ee5c48;
}

.one_news .text .year {
    display: block;
    width: 100px;
    height: 40px;
    font-size: 13px;
    color: #999;
}

.one_news .text .headline .else {
    padding: 0 0 0 20px;
}

.dynamic .text ul {
    border-top: 1px solid #ddd;
}

.one_news .text ul {
    width: 635px;
    padding: 24px 0 0 0;
}

.one_news .text ul li {
    padding: 0 0 0 20px;
    background: url(../images/icons_tri7.png) no-repeat left 3px;
    height: 36px;
}

.one_news .text ul li a {
    font-size: 14px;
}

.one_news .text ul li span {
    float: right;
    font-size: 12px;
    color: #434343;
}

.one_news h2 {
    color: #ee5c48;
    font-size: 16px;
    font-weight: 100;
    line-height: 40px;
}

.one_news .more {
    text-align: right;
    padding: 5px 0 0 0;
}

.one_news .more a {
    color: #ee5c48;
    font-size: 14px;
}

.one_news .more2 {
    text-align: right;
}

.one_news .more2 a {
    color: #ee5c48;
    font-size: 14px;
}

.video .text ul {
    width: 50%;
    float: left;
    border-top: 1px solid #ddd;
}

.video .text ul li {
    background: url(../images/icons_video.jpg) 0px top no-repeat;
    padding-left: 30px;
}

.video .text ul li a {
    color: #999999;
}

.solution .text ul {
    width: 50%;
    float: left;
}

.solution .text ul li span {
    float: left;
    color: #666666;
    font-size: 12px;
    width: 80px;
    height: 20px;
    margin-right: 10px;
    border-right: 1px solid #666666;
}

.solution .text ul li a {
    float: left;
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}

.leftmenu {
    position: fixed;
    top: 100px;
    left: 0;
    height: 600px;
    z-index: 990;
    width: 250px;
    display: none;
}

.leftmenu ul {
    height: 600px;
}

.leftmenu ul li {
    position: relative;
    width: 100%;
}

.leftmenu ul li a {
    display: block;
    width: 55px;
    height: 50px;
}

.leftmenu a.lm_1 {
    background: url(../images/ln11.png) no-repeat left top;
    background-size: 55px;
}

.leftmenu a.lm_2 {
    background: url(../images/ln21.png) no-repeat left top;
    background-size: 55px;
}

.leftmenu a.lm_3 {
    background: url(../images/ln31.png) no-repeat left top;
    background-size: 55px;
}

.leftmenu a.lm_4 {
    background: url(../images/ln41.png) no-repeat left top;
    background-size: 55px;
}

.leftmenu a.lm_5 {
    background: url(../images/ln51.png) no-repeat left top;
    background-size: 55px;
}

.leftmenu a:hover,
.leftmenu a.active {
    background-position: left bottom;
}

.leftmenu ul li.one .open {
    position: absolute;
    z-index: 200;
    top: 0px;
    left: -250px;
    width: 200px;
    display: block;
}

.leftmenu ul li.two .open {
    position: absolute;
    z-index: 200;
    top: -50px;
    left: -250px;
    width: 200px;
    height: 500px;
    display: block;
}

.leftmenu ul li.three .open {
    position: absolute;
    z-index: 200;
    top: -100px;
    left: -250px;
    width: 200px;
    height: 450px;
    display: block;
}

.leftmenu ul li.four .open {
    position: absolute;
    z-index: 200;
    top: -150px;
    left: -250px;
    width: 200px;
    height: 400px;
    display: block;
}

.leftmenu ul li .title {
    background: #ad000e;
    padding: 10px 20px;
    color: #FFFFFF;
}

.leftmenu ul li .title h5 {
    font-size: 14px;
    margin-top: 5px;
}

.leftmenu ul li .content {
    background: #ad000e;
    height: 450px;
    padding: 0px 20px 20px 20px;
    color: #FFFFFF;
    /*display: none;*/
}

.leftmenu ul li .bh {
    height: 600px;
}

.leftmenu ul li .bh2 {
    height: 166px;
}

.leftmenu ul li .content a {
    color: #FFFFFF;
    width: auto;
    height: auto;
    display: inline-block;
}

.leftmenu ul li .content .small {
    width: 30px;
}

.leftmenu ul li .content .small2 {
    width: ;
    text-align: center;
}

.leftmenu ul li .content span {
    color: #FFFFFF;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.leftmenu ul li .content p {
    padding: 5px 0px;
}

.leftmenu ul li .content p em {
    margin: 0px 5px;
}

.username {
    display: block;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}






/*footer*/
.footer .footer-bottom ul{
	overflow: visible;
}
.footer .container{
	padding: 40px 0;
	margin: 0 auto;
}
.footer{
	background: #242424;
	width: 100%;
	font-size: 14px;
}
.footer .footer-left{
	float: left;
	padding-left: 20px;
}
.footer .footer-right{
	float: right;
}
.footer .footer-left ul,.footer .footer-right ul{
	float: left;
	line-height: 25px;
	font-size: 16px;
}
.footer .footer-left{
	width: 60%;
}
.footer .footer-left ul{
	width: 25%;
}
.footer .footer-left ul li{
	font-size: 16px;
}
.footer .footer-left span{
    color: #a5a5a5;
    font-weight: 600;
    font-size: 18px;
}
.footer .footer-left a,.footer .footer-right .bai{
	color: #fff;
}
.footer .footer-right{
	width: 40%;
}

.footer .footer-right span{
	color: #fff;
}
.footer .footer-right .tel{
	font-size: 20px;
	font-weight: bold;
}
.footer .footer-right .footerUl{
	float: right;
	margin: 0;
}
.footer .footer-right .footerUl li{
	width: 120px;
	height: 120px;
}
.footer .footer-right .footerUl li img{
	width: 100%;
	height: 100%;
}
.footer .footer-bottom{
    background: #333333;
    line-height: 70px;
}
.footer-bottom .container{
	padding: 0;
}
.footer-bottom .container ul li{
	float: left;
}
.footer .footer-bottom ul li span {
    margin: 0px 5px;
    color: #666;
}
.footer-bottom .container ul li a:link,.footer-bottom .container ul li a:visited {
    color: #666;
}
.footer .footer-bottom .fr{
	float: right;
	overflow: hidden;
	color: #666;
}

.main-one>li>ul>li,.main-four>li{
	padding: 0 10px;
}
